.env
venv
db.sqlite3
__pycache__/
app/migrations
bot/migrations
**/__init__.py
__init__.py
files
staticfiles
persistencebot
app/static/assets/*
!app/static/assets/my
!app/views/__init__.py
!app/utils/__init__.py
!app/services/__init__.py
!bot/services/__init__.py
!bot/utils/__init__.py
!bot/bot/__init__.py
!bot/__init__.py
!core/__init__.py
enter_server.sh
.codex